## Assignment 1

## ***-By Amber Sethi & Alizae Pardiwala***

**Problem 2.1**

*Answers:*

Whether task required is supervised or unsupervised learning:

*1.a.* Supervised Learning

*1.b.* Unsupervised Learning

*1.c.* Supervised Learning

*1.d.* Unsupervised Learning

*1.e.* Supervised Learning

*1.f.* Supervised Learning

*1.g.* Supervised Learning

*1.h.* Unsupervised Learning

**Problem 2.5**

The sophistication of real data cannot be implemented in the future because of zero errors. If the model is tested on a different dataset in the future, the perfect fit of the model will cause the data to deviate.

**Problem 2.8**

In [51]:
# import pandas and numpy libraries
import numpy as np
import pandas as pd
# create a data frame
df = pd.DataFrame({
 'Age': [25,56,65,32,41,49],
 'Income ($)': [49000, 156000, 99000, 192000, 39000, 57000]
})
print(df)

   Age  Income ($)
0   25       49000
1   56      156000
2   65       99000
3   32      192000
4   41       39000
5   49       57000

In [52]:
# import preprocessing
# Normalizing a data frame in sci-kit learn
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
# scikit-learn:
scaler = StandardScaler()
norm_df2 = pd.DataFrame(scaler.fit_transform(df),
 index=df.index, columns=df.columns)
# the result of the transformation is a numpy array, we convert it into a dataframeprint(norm_df2)
norm_df2 = df.to_numpy()
print(norm_df2)

[[    25  49000]
 [    56 156000]
 [    65  99000]
 [    32 192000]
 [    41  39000]
 [    49  57000]]

**Problem 2.10**

When a model is developed, it is based on a training data. The efficiency of the model is based on how accurately it predicts the new data. In this case, Model A showed less accuracy on the test data and Model B showed more accuracy on the test data. Hence, Model B can be considered for the final deployment.

**Problem 2.11**

*11.a.* Binary variables are the variables with only two values. The two categorical attributes Fuel Type and Color have more than two values each. The attribute Fuel Type has attributes like Petrol, Diesel and CNG (more than two attributes) and the attribute Color has attributes like red, grey, white, black, silver etc (more than two attributes). Hence, the above mentioned variables cannot be converted to binary variables.

In [53]:
automobile_df = pd.read_csv('ToyotaCorolla(4).csv')

In [54]:
automobile_df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
automobile_df.dtypes

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
dtype: object

In [56]:
automobile_df.Fuel_Type.unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [57]:
automobile_df.Color.unique()

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

In [58]:
automobile_df.Fuel_Type = automobile_df.Fuel_Type.astype('category')

In [59]:
automobile_df.Color = automobile_df.Color.astype('category')

In [60]:
print(automobile_df.Fuel_Type.dtype)

category

In [61]:
print(automobile_df.Color.dtype)

category

In [62]:
automobile_df = pd.get_dummies(automobile_df, prefix_sep='_', drop_first=True)

In [63]:
automobile_df.columns

Index(['Id', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM', 'HP',
       'Met_Color', 'Automatic', 'CC',
       ...
       'Fuel_Type_Petrol', 'Color_Black', 'Color_Blue', 'Color_Green',
       'Color_Grey', 'Color_Red', 'Color_Silver', 'Color_Violet',
       'Color_White', 'Color_Yellow'],
      dtype='object', length=365)

In [64]:
print(automobile_df.loc[:, 'Fuel_Type_Petrol':'Color_Black'].head(5))

   Fuel_Type_Petrol  Color_Black
0                 0            0
1                 0            0
2                 0            0
3                 0            1
4                 0            1

In [66]:
print(automobile_df)

        Id  Price  Age_08_04  Mfg_Month  Mfg_Year     KM   HP  Met_Color  \
0        1  13500         23         10      2002  46986   90          1
1        2  13750         23         10      2002  72937   90          1
2        3  13950         24          9      2002  41711   90          1
3        4  14950         26          7      2002  48000   90          0
4        5  13750         30          3      2002  38500   90          0
...    ...    ...        ...        ...       ...    ...  ...        ...
1431  1438   7500         69         12      1998  20544   86          1
1432  1439  10845         72          9      1998  19000   86          0
1433  1440   8500         71         10      1998  17016   86          0
1434  1441   7250         70         11      1998  16916   86          1
1435  1442   6950         76          5      1998      1  110          0

      Automatic    CC  ...  Fuel_Type_Petrol  Color_Black  Color_Blue  \
0             0  2000  ...                 0            0           1
1             0  2000  ...                 0            0           0
2             0  2000  ...                 0            0           1
3             0  2000  ...                 0            1           0
4             0  2000  ...                 0            1           0
...         ...   ...  ...               ...          ...         ...
1431          0  1300  ...                 1            0           1
1432          0  1300  ...                 1            0           0
1433          0  1300  ...                 1            0           1
1434          0  1300  ...                 1            0           0
1435          0  1600  ...                 1            0           0

      Color_Green  Color_Grey  Color_Red  Color_Silver  Color_Violet  \
0               0           0          0             0             0
1               0           0          0             1             0
2               0           0          0             0             0
3               0           0          0             0             0
4               0           0          0             0             0
...           ...         ...        ...           ...           ...
1431            0           0          0             0             0
1432            0           1          0             0             0
1433            0           0          0             0             0
1434            0           1          0             0             0
1435            1           0          0             0             0

      Color_White  Color_Yellow
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
...           ...           ...
1431            0             0
1432            0             0
1433            0             0
1434            0             0
1435            0             0

[1436 rows x 365 columns]

In [68]:
excludeColumns = ('Price')
predictors = [s for s in automobile_df.columns if s 
   not in excludeColumns]
outcome = 'Price'

In [69]:
print(automobile_df[predictors])

        Id  Age_08_04  Mfg_Month  Mfg_Year     KM   HP  Met_Color  Automatic  \
0        1         23         10      2002  46986   90          1          0
1        2         23         10      2002  72937   90          1          0
2        3         24          9      2002  41711   90          1          0
3        4         26          7      2002  48000   90          0          0
4        5         30          3      2002  38500   90          0          0
...    ...        ...        ...       ...    ...  ...        ...        ...
1431  1438         69         12      1998  20544   86          1          0
1432  1439         72          9      1998  19000   86          0          0
1433  1440         71         10      1998  17016   86          0          0
1434  1441         70         11      1998  16916   86          1          0
1435  1442         76          5      1998      1  110          0          0

        CC  Doors  ...  Fuel_Type_Petrol  Color_Black  Color_Blue  \
0     2000      3  ...                 0            0           1
1     2000      3  ...                 0            0           0
2     2000      3  ...                 0            0           1
3     2000      3  ...                 0            1           0
4     2000      3  ...                 0            1           0
...    ...    ...  ...               ...          ...         ...
1431  1300      3  ...                 1            0           1
1432  1300      3  ...                 1            0           0
1433  1300      3  ...                 1            0           1
1434  1300      3  ...                 1            0           0
1435  1600      5  ...                 1            0           0

      Color_Green  Color_Grey  Color_Red  Color_Silver  Color_Violet  \
0               0           0          0             0             0
1               0           0          0             1             0
2               0           0          0             0             0
3               0           0          0             0             0
4               0           0          0             0             0
...           ...         ...        ...           ...           ...
1431            0           0          0             0             0
1432            0           1          0             0             0
1433            0           0          0             0             0
1434            0           1          0             0             0
1435            1           0          0             0             0

      Color_White  Color_Yellow
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
...           ...           ...
1431            0             0
1432            0             0
1433            0             0
1434            0             0
1435            0             0

[1436 rows x 364 columns]

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [80]:
trainData, temp = train_test_split(automobile_df, test_size=0.6, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)
temp

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
509,512,10900,46,11,2000,53700,97,1,0,1400,...,1,0,0,0,1,0,0,0,0,0
435,438,10895,53,4,2000,79800,110,0,0,1600,...,1,0,0,0,0,1,0,0,0,0
321,323,10750,36,9,2001,36269,110,1,0,1600,...,1,0,1,0,0,0,0,0,0,0
1055,1060,6500,70,11,1998,178800,72,0,0,2000,...,0,0,0,0,0,1,0,0,0,0
288,290,11895,44,1,2001,44218,97,1,0,1400,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,486,9900,56,1,2000,62751,110,0,0,1600,...,1,0,0,0,0,1,0,0,0,0
282,284,12850,39,6,2001,45713,97,1,0,1400,...,1,0,1,0,0,0,0,0,0,0
437,440,9750,48,9,2000,78600,110,1,0,1600,...,1,0,1,0,0,0,0,0,0,0
863,867,8200,60,9,1999,64383,86,0,0,1300,...,1,0,0,0,0,1,0,0,0,0
548,551,10750,56,1,2000,43700,86,1,0,1300,...,1,0,0,0,1,0,0,0,0,0

In [81]:
testData

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
1048,1053,4400,74,7,1998,203254,72,1,0,2000,...,0,1,0,0,0,0,0,0,0,0
101,102,16250,19,2,2003,19200,97,1,0,1400,...,1,0,1,0,0,0,0,0,0,0
51,52,15750,30,3,2002,57086,97,1,0,1400,...,1,0,0,0,1,0,0,0,0,0
1005,1010,9750,68,1,1999,37759,110,1,0,1600,...,1,0,1,0,0,0,0,0,0,0
1097,1103,7250,74,7,1998,124910,72,0,0,2000,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,1401,7450,80,1,1998,49580,110,1,0,1600,...,1,0,0,0,0,1,0,0,0,0
403,406,10950,49,8,2000,107859,97,0,0,1400,...,1,0,1,0,0,0,0,0,0,0
1368,1375,9750,70,11,1998,57829,110,0,0,1600,...,1,0,0,0,1,0,0,0,0,0
151,153,19950,19,2,2003,17038,110,0,0,1600,...,1,1,0,0,0,0,0,0,0,0
538,541,10950,56,1,2000,46500,86,0,0,1300,...,1,1,0,0,0,0,0,0,0,0

Basically, we do data partitioning to see how well our model will perform with a new
data. We separate the data into “training data” to build and develop the model, and
“validation data” to evaluate the model and see its performance. Then, the “test data” is
the third partition for unbiased assessment basically to reevaluate the model. This
partition is optional, and it refers to the partition set aside from the training partition.
We used data partitioning to evaluate performance and to avoid overfitting.